.container {
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

.header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.eventList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  overflow: auto;
  height: 1000px;
  width: 100%;
}

.eventListContainer {
  max-height: 100vh;
  width: 100%;
}
/* .event {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #222;
  transition: all 0.3s ease-in-out;
}
.event:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
} */
.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #222;
  transition: all 0.3s ease-in-out;
  max-width: 300px;  
  }
  
  .event:hover {
  transform: scale(1.05); 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

.eventType {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom:3%;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
}

.cardTitle {
  font-size: 16px;
  font-weight: bold;
}

.cardDate {
  font-size: 14px;
}

.cardBody {
  padding: 10px;
  width:250px;

}

.cardBody div {
  color:#222;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.cardBody a {
  color: #0070f3;
  text-decoration: none;
}

.cardBody a:hover {
  text-decoration: underline;
}

@media screen and (max-width:680px) {
.eventList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  overflow: auto;
  height: 400px;
  width: 100%;
}
.cardBody {
  padding: 10px;
  width:350px;

}
.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #222;
  transition: all 0.3s ease-in-out;
  max-width: 1000px 
  }
}