  
  .cardText {
    margin-left: 40px;
    font-size: xx-large;
  }
  
  .name {
    font-size: 80px;
    font-weight: bold;
  }

 .name{
  background-color: #2ecc71;
  animation: hue 11s linear 0s infinite reverse;
}
.name::before {
  background: linear-gradient(105deg, rgba(255, 190, 0, 0), #ffbe00);
  animation: hue 12s linear 1s infinite;
}


@keyframes hue {
  to {
    filter: hue-rotate(1turn);
  }
}
  .image{
    border-radius: 50%;
    width: 200px;
  }

  @media screen and (max-width: 500px){
    .cardText {
      margin-left: 0px;
      font-size: xx-large;
    }
  }